@page "/streams/new"
@inject NavigationManager NavigationManager

<PageTitle>Create Stream</PageTitle>

<h1>Create Stream</h1>

<form>
    <div class="form-group row">
        <label for="streamType" class="col-sm-2 col-form-label">Stream Type</label>
        <div class="col-sm-10">
            <input type="text" required class="form-control" placeholder="Stream Type" id="streamType" @bind-value="_streamType">
        </div>
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(_streamType))
{
    <SendEvents StreamId="@_streamId" OnEventSent="OnStreamCreated"></SendEvents>
}else{
    <Alert Type="AlertTypes.Warning">Set the Stream Type to continue</Alert>
}

@code{
    private Guid _streamKey;
    private string _streamType;

    private StreamId _streamId => new StreamId(_streamKey, _streamType);

    protected override void OnInitialized()
    {
        _streamKey = Guid.NewGuid();
        base.OnInitialized();
    }

    private void OnStreamCreated()
    {
        var url = RoutingUtils.StreamDetails(_streamId);
        NavigationManager.NavigateTo(url);
    }
}